@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url(/Images/animalRescue.png);
    background-attachment: fixed;
    background-position: top;
    margin: 0;
    background-color: rgba(159, 162, 171, 0.245);
    background-blend-mode:soft-light;
}

#Container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.scrollBar, .scrollBarTop {
    position: absolute;
    display: flex;
    overflow-x: auto;
    border: 5px solid;
    border-color: antiquewhite;
    width: 70vw;
    height: 45%; /* Updated height */
    align-items: center;
    justify-content: start;
    left: 15vw;
}

.scrollBar {
    top: 82vh;
    transform: translateY(-50%);
}

.scrollBarTop {
    top: 35vh; /* Adjusted to not overlap the h1 heading */
    transform: translateY(-50%);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.pet-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15vw;
    height: 90%; /* Reduced height */
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1vw;
    border-radius: 10px;
    margin-right: 20px;
}

.pet-card img {
    position: relative;
    width: 100%; 
    height: 50%; /* Reduced height */
    object-fit: cover;
}

.pet-card .name {
    color: #000;
    font-size: 2vh; /* Reduced font size */
}

.pet-card .type,
.pet-card .breed,
.pet-card .age {
    color: #333;
    font-size: 1.5vh; /* Reduced font size */
}

.pet-card .date {
    color: #333;
    font-size: 1.2vh; /* Reduced font size */
}

h1 {
    position: absolute;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    font-size: 4vw;
    color: blueviolet;
    top: 2%; /* Adjusted to not be overlapped by the top scroll bar */
}
